[submodule "digilent-vivado-scripts"]
	path = digilent-vivado-scripts
	url = https://github.com/Digilent/digilent-vivado-scripts
[submodule "repo/vivado-library"]
	path = repo/vivado-library
	url = https://github.com/46cv8/vivado-library
	branch = feature/zmod_dac_test
